{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "Creates SNS topics and subscriptions",

  "Metadata" : {

  },

  "Parameters" : {

  },

  "Mappings" : {

  },

  "Conditions" : {

  },

  "Resources" : {
      
  },

  "Outputs" : {

  }
}
