{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "Description",

  "Metadata" : {

  },

  "Parameters" : {

  },

  "Mappings" : {

  },

  "Conditions" : {

  },

  "Resources" : {

  },

  "Outputs" : {

  }
}
